NODE_ENV=development
PORT=3003
LOG_LEVEL=info

DATABASE_URL=postgresql://order_svc:order_pass@localhost:5432/ecommerce
MONGODB_URI=mongodb://localhost:27017/ecommerce_read
REDIS_HOST=localhost
REDIS_PORT=6379
KAFKA_BROKERS=localhost:9092
KAFKA_CLIENT_ID=order-service
KAFKA_GROUP_ID=order-service-group
