NODE_ENV=development
PORT=3006

OPENSEARCH_URL=http://localhost:9200
OPENSEARCH_INDEX_PRODUCTS=products

REDIS_NODES=localhost:7001,localhost:7002,localhost:7003
SEARCH_CACHE_TTL_SECONDS=300   # 5 minutes
