NODE_ENV=development
ALLOWED_ORIGINS=http://localhost:3000,http://localhost:4000
PORT=3000
LOG_LEVEL=info
TRUST_PROXY_HOPS=1

JWT_SECRET=change_this_to_a_very_long_secret_key_at_least_64_characters
REDIS_HOST=localhost
REDIS_PORT=6379

# Upstream service URLs
AUTH_SERVICE_URL=http://localhost:3001
PRODUCT_SERVICE_URL=http://localhost:3002
ORDER_SERVICE_URL=http://localhost:3003
PAYMENT_SERVICE_URL=http://localhost:3004
CART_SERVICE_URL=http://localhost:3005
SEARCH_SERVICE_URL=http://localhost:3006
INVENTORY_SERVICE_URL=http://localhost:3007
ADMIN_SERVICE_URL=http://localhost:3008
NOTIFICATION_SERVICE_URL=http://localhost:3009
DELIVERY_SERVICE_URL=http://localhost:3010
REVIEW_SERVICE_URL=http://localhost:3011
ADS_SERVICE_URL=http://localhost:3013
